In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("target.csv")

In [3]:
df

                  target
0                  Other
1                  Other
2                  Other
3                  Other
4                  Other
...                  ...
9314               Yahoo
9315              PayPal
9316  Sulake Corporation
9317  Sulake Corporation
9318               Other

[9319 rows x 1 columns]

In [10]:
tr=df['target']
op=set(tr)

In [11]:
op

{'ABN AMRO Bank',
 'ABSA Bank',
 'AOL',
 'ASB Bank Limited',
 'AT&amp;T',
 'Adobe',
 'Aetna Health Plans &amp; Dental Coverage',
 'Alibaba.com',
 'Allegro',
 'Alliance Bank',
 'Amazon.com',
 'American Express',
 'Americanas.com',
 'Apple',
 'BMO Financial',
 'Banco De Brasil',
 'Banco Real',
 'Bank of America Corporation',
 'Barclays Bank PLC',
 'Blizzard',
 'Blockchain',
 'Bradesco',
 'Branch Banking and Trust Company',
 'CIMB Bank',
 'Caixa',
 'Capitec Bank',
 'Cartasi',
 'Cielo',
 'Citibank',
 'Citizens Bank',
 'DHL',
 'Delta Air Lines',
 'Development Bank of Singapore',
 'Dropbox',
 'Facebook',
 'Google',
 'HSBC Group',
 "Her Majesty's Revenue and Customs",
 'Hotmail',
 'IDEX',
 'ING Direct',
 'Internal Revenue Service',
 'Itau',
 'JPMorgan Chase and Co.',
 'LinkedIn',
 'Live',
 'Lloyds Bank',
 'LocalBitcoins.com',
 'Mastercard',
 'Microsoft',
 'MyEtherWallet',
 'Netflix',
 'Nubank',
 'Orange',
 'Other',
 'PKO Polish Bank',
 'PNC Bank',
 'PayPal',
 'Poste Italiane',
 'Rabobank',
 'Royal Bank of Scotland',
 'RuneScape',
 'Santander UK',
 'Scotiabank',
 'Steam',
 'Sulake Corporation',
 'Suncorp',
 'Swedbank',
 'TD Ameritrade',
 'Twitter',
 'Uber',
 'UniCredit',
 'United Services Automobile Association',
 'Visa',
 'Vodafone',
 'Volksbanken Raiffeisenbanken',
 'WalMart',
 'Wells Fargo',
 'Western Union',
 'Westpac',
 'WhatsApp',
 'Yahoo',
 'eBay, Inc.'}

In [13]:
len(op)

83